<!DOCTYPE html>
<html>
 <head></head> 
 <body> 
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> 
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" /> 
  <title><%= title %></title> 
  <h1>Data Center</h1> 
  <img style="width:100%;overflow:hidden;" src="/images/slide3.png" /> 
  <p></p> 
  <h1> 
   <ul class="nav nav-pills"> 
    <li class="active"><a href="/">首页</a></li> 
    <li><a href="/login">登录</a></li> 
    <li><a href="/register">注册</a></li> 
    <li><a href="users/addUser?username=ab&password=12">快速</a></li> 
    <li><a href="users/testUser">测试</a></li> 
   </ul> </h1> 
  <br /> 
  <link rel="stylesheet" href="/stylesheets/style.css" /> 
  <p><a href="/test">图表测试1</a></p> 
  <p><a href="/test2">图表测试2</a></p> 
  <p><a href="/test3">图表测试3</a></p> 
  <p><a href="/test4">图表测试4</a></p> 
  <p><a href="/test5">图表测试5</a></p> 
  <p><a href="/test6">图表测试6</a></p> 
  <p><a href="/test7">图表测试7</a></p>  
 </body>
</html>